@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Variable.ttf");
  }
  @font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.blog-parent-one{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-one{
    width: 90%;
    height: 380px;
    display: flex;
    align-items: center;
    background: #002099;
    color: #ffffff;
    font-family: 'Clash Display Variable';
}
.blog-one div{
    margin-left: 100px;
    margin-right: 20px;
}
.blog-one div h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}
.blog-one div p{
    font-family: 'Mulish', sans-serif;
    width: 80%;
}

@media screen and (max-width: 500px) {
    .blog-one{
        width: 100%;
        height: 380px;
        display: flex;
        align-items: center;
        background: #002099;
        color: #ffffff;
        font-family: 'Clash Display Variable';
    }
    .blog-one div{
        margin-left: 50px;
        margin-right: 20px;
    }
    .blog-one div p{
        font-family: 'Mulish', sans-serif;
        width: 100%;
    }
}

