*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.middle-parent{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.middle{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.middle-sub{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.b-img img{
    width: 550px;
}
.middle-sub h3{
    color: #1C0A00;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
}
.middle-sub p{
    color: #1C0A00C7 78%;
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
}
.middle-sub button{
   height: 50px;
   width: 200px;
   border-radius: 4px;
   border: none;
   margin-top: 20px;
}
@media screen and (max-width: 500px) {
    .middle-parent{
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .middle{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .middle-sub{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .middle-sub h3{
        color: #1C0A00;
        font-size: 30px;
    }
    .middle-sub p{
        color: #1C0A00C7 78%;
        margin-top: 20px;
    }
    .middle-sub button{
       height: 40px;
       width: 200px;
       border-radius: 4px;
       border: none;
       margin-top: 20px;
       margin-bottom: 20px;
    }
    .b-img img{
        width: 100%;
    }
}
