*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.last{
    margin-top: 100px;
    width: 100%;
    min-height: 55vh;
    background: #00070F;
    color: #ffffff;
}
.last-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 25vh;
    line-height: 2;
    font-family: 'Mulish';
    font-style: normal;
}
.last a{
    font-family: 'Mulish';
    font-style: normal;
    color: #ffffff;
}
.last-two{
    text-align: center;
    color: #ffffff;
}
.last-two a{
    color: #ffffff;
}
.last-three{
    text-align: center;
    min-height: 10vh;
    font-family: 'Mulish';
    font-style: normal;
}
.last-four-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-four{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    width: 100%;
    height: 50px;
    background: #002099;
    color: #ffffff;
}
.footer{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .last{
        margin-top: 100px;
        width: 100%;
        min-height: 70vh;
        background: #00070F;
        color: #ffffff;
    }
    .last-one{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-height: 35vh;
        line-height: 2;
        font-family: 'Mulish';
        font-style: normal;
    }
    .last a{
        font-family: 'Mulish';
        font-style: normal;
        color: #ffffff;
        font-size: 18px;
    }
    .last-sub-two h3{
        font-size: 20px;
    }
    .last-two{
        text-align: center;
        height: 70px;
    }
    .last-three{
        text-align: center;
        min-height: 20vh;
        font-family: 'Mulish';
        font-style: normal;
    }
    .last-four-parent{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .last-four{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    footer{
        width: 100%;
        height: 50px;
        background: #002099;
        color: #ffffff;
    }
    .footer{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
