*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.s-nav-parent{
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-nav{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}
.s-nav div:nth-child(2){
    margin-right: 20px;
    color: #00070F;
    width: 20%;
}
.s-nav a{

    color: #1178FF;
}
.sign-parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
   
}
.sign{
    width: 90%;
    display: flex;
}
.sign-one{
    width: 28%;
    color: #00070F;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.sign-one h1{
    width:50%;
}
.sign-two{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.sign-sub-one{
    display: flex ;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 90%;  
}
.sign-sub-two{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.sign-two input{
    height: 35px;
    width: 70%;
    outline: none;
    border: 1px solid  #E0E0E0;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 18px;
}
.sign-sub-one label{
    color: #00070F;
    font-family: 'Mulish', sans-serif;
    margin-right: 60px;
}
.sign button{
    border-radius: 4px;
    height: 50px;
     width: 60%;
}
.name, .password{
    display: flex;
    width: 60%;
}
.password span{
    position: absolute;
    bottom: 220px;
    margin-left: 180px;
    
}
.name input, .password input{
    width: 90%;
}
.log-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
@media screen and (max-width: 500px) {
    .s-nav-parent{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-nav{
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Mulish', sans-serif;
    }
    .s-nav div:nth-child(2){
        font-size: 10px;
        width: 50%;
        color: grey;
    }
    .s-nav a{
        color: #1178FF;
    }
    .sign-parent{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
       
    }
    .sign{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .sign-one{
        width: 100%;
        margin-bottom: 30px;
    }
    .sign-one h1{
        width:100%;
        font-size: 30px;
    }
    .sign-two{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sign-sub-one{
        display: flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 75vh;
        width: 90%;
    }
    .sign-sub-two{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .sign-two input{
        height: 30px;
        width: 80%;
        outline: none;
        border: 1px solid  #E0E0E0;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .sign-sub-one label{
        color: #00070F;
        font-family: 'Mulish', sans-serif;
       
        font-size: 15px;
    }
    .sign button{
        border-radius: 4px;
        height: 50px;
         width: 60%;
    }
    .name, .password{
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        width: 100%;
    }
    .name input, .password input{
        width: 80%;
    }
    .log-one{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .span1{
           position: absolute;
           right: 120px;
           margin-bottom: -40px;
    }
    .span2{
        position: absolute;
        right: 120px;
        margin-bottom: -110px;
    }
}